In [3]:
import pandas as pd
csv = pd.read_csv('../csvs/transaction_1.csv')

he = csv.head()
print(he)

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [10]:
import pandas as pd

transaction_1 = pd.read_csv('../csvs/transaction_1.csv')
transaction_2 = pd.read_csv('../csvs/transaction_2.csv')


transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)


transaction.to_csv('../csvs/transaction.csv', index=False)

In [11]:
import pandas as pd

detail_1 = pd.read_csv('../csvs/transaction_detail_1.csv')
detail_2 = pd.read_csv('../csvs/transaction_detail_2.csv')


detail = pd.concat([detail_1, detail_2], ignore_index=True)


detail.to_csv('../csvs/detail.csv', index=False)

In [13]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
tran = pd.read_csv('../csvs/transaction.csv')

join_data = pd.merge(detail, transaction, on='transaction_id', how='left')


print(join_data.head())

   detail_id transaction_id item_id  quantity   price         payment_date  \
0          0    T0000000113    S005         1  210000  2019-02-01 01:36:57
1          1    T0000000114    S001         1   50000  2019-02-01 01:37:23
2          2    T0000000115    S003         1  120000  2019-02-01 02:34:19
3          3    T0000000116    S005         1  210000  2019-02-01 02:47:23
4          4    T0000000117    S002         2  170000  2019-02-01 04:33:46

  customer_id
0    PL563502
1    HD678019
2    HD298120
3    IK452215
4    PL542865

In [3]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
transaction = pd.read_csv('../csvs/transaction.csv')
cust = pd.read_csv('../csvs/customer_master.csv')
item = pd.read_csv('../csvs/item_master.csv')

join_data = pd.merge(detail, transaction, on='transaction_id', how='left')
join_data = pd.merge(join_data, cust, on='customer_id', how='left')
join_data = pd.merge(join_data, item, on='item_id', how='left')

print(join_data.head())

   detail_id transaction_id item_id  quantity   price         payment_date  \
0          0    T0000000113    S005         1  210000  2019-02-01 01:36:57
1          1    T0000000114    S001         1   50000  2019-02-01 01:37:23
2          2    T0000000115    S003         1  120000  2019-02-01 02:34:19
3          3    T0000000116    S005         1  210000  2019-02-01 02:47:23
4          4    T0000000117    S002         2  170000  2019-02-01 04:33:46

  customer_id customer_name    registration_date customer_name_kana  \
0    PL563502         井本 芳正  2019-01-07 14:34:35           いもと よしまさ
1    HD678019         三船 六郎  2019-01-27 18:00:11           みふね ろくろう
2    HD298120         山根 小雁  2019-01-11 08:16:02            やまね こがん
3    IK452215         池田 菜摘  2019-01-10 05:07:38            いけだ なつみ
4    PL542865         栗田 憲一  2019-01-25 06:46:05           くりた けんいち

                         email gender  age       birth pref item_name  \
0  imoto_yoshimasa@example.com      M   30   1989/7/15  熊本県      PC-E
1   mifune_rokurou@example.com      M   73  1945/11/29  京都府      PC-A
2     yamane_kogan@example.com      M   42   1977/5/17  茨城県      PC-C
3    ikeda_natsumi@example.com      F   47   1972/3/17  兵庫県      PC-E
4   kurita_kenichi@example.com      M   74  1944/12/17  長崎県      PC-B

   item_price
0      210000
1       50000
2      120000
3      210000
4       85000

In [5]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
transaction = pd.read_csv('../csvs/transaction.csv')
cust = pd.read_csv('../csvs/customer_master.csv')
item = pd.read_csv('../csvs/item_master.csv')

join_data = pd.merge(detail, transaction, on='transaction_id', how='left')
join_data = pd.merge(join_data, cust, on='customer_id', how='left')
join_data = pd.merge(join_data, item, on='item_id', how='left')

join_data['price'] = join_data['quantity'] * join_data['item_price']

print(join_data[['quantity', 'item_price', 'price']].head())

   quantity  item_price   price
0         1      210000  210000
1         1       50000   50000
2         1      120000  120000
3         1      210000  210000
4         2       85000  170000

In [9]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
transaction = pd.read_csv('../csvs/transaction.csv')
cust = pd.read_csv('../csvs/customer_master.csv')
item = pd.read_csv('../csvs/item_master.csv')

join_data = pd.merge(detail, transaction, on='transaction_id', how='left')
join_data = pd.merge(join_data, cust, on='customer_id', how='left')
join_data = pd.merge(join_data, item, on='item_id', how='left')

join_data['price'] = join_data['quantity'] * join_data['item_price']

join_data['payment_date'] = pd.to_datetime(join_data['payment_date'])
join_data['payment_month'] = join_data['payment_date'].dt.strftime("%Y%m")

print(join_data[['payment_date', 'payment_month']].head())

         payment_date payment_month
0 2019-02-01 01:36:57        201902
1 2019-02-01 01:37:23        201902
2 2019-02-01 02:34:19        201902
3 2019-02-01 02:47:23        201902
4 2019-02-01 04:33:46        201902

In [13]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
transaction = pd.read_csv('../csvs/transaction.csv')
cust = pd.read_csv('../csvs/customer_master.csv')
item = pd.read_csv('../csvs/item_master.csv')

join_data = pd.merge(detail, transaction, on='transaction_id', how='left')
join_data = pd.merge(join_data, cust, on='customer_id', how='left')
join_data = pd.merge(join_data, item, on='item_id', how='left')

join_data['price'] = join_data['quantity'] * join_data['item_price']

join_data['payment_date'] = pd.to_datetime(join_data['payment_date'])
join_data['payment_month'] = join_data['payment_date'].dt.strftime("%Y%m")

print(join_data.groupby('payment_month').sum()[['price']])

                   price
payment_month
201902         160185000
201903         160370000
201904         160510000
201905         155420000
201906         164030000
201907         170620000

In [22]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
transaction = pd.read_csv('../csvs/transaction.csv')
cust = pd.read_csv('../csvs/customer_master.csv')
item = pd.read_csv('../csvs/item_master.csv')

print(item)


join_data = pd.merge(detail, transaction, on='transaction_id', how='left')




join_data = pd.merge(join_data, item, on='item_id', how='left')

join_data = pd.merge(join_data, cust, on='customer_id', how='left')

print(join_data)

join_data['price'] = join_data['quantity'] * join_data['item_price']

join_data['payment_date'] = pd.to_datetime(join_data['payment_date'])
join_data['payment_month'] = join_data['payment_date'].dt.strftime("%Y%m")

# print(join_data.groupby('payment_month','item_name').sum()[['price', 'quantity']])

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000
      detail_id transaction_id item_id  quantity   price         payment_date  \
0             0    T0000000113    S005         1  210000  2019-02-01 01:36:57
1             1    T0000000114    S001         1   50000  2019-02-01 01:37:23
2             2    T0000000115    S003         1  120000  2019-02-01 02:34:19
3             3    T0000000116    S005         1  210000  2019-02-01 02:47:23
4             4    T0000000117    S002         2  170000  2019-02-01 04:33:46
...         ...            ...     ...       ...     ...                  ...
7139       7139    T0000006894    S004         1  180000  2019-07-31 21:20:44
7140       7140    T0000006895    S002         1   85000  2019-07-31 21:52:48
7141       7141    T0000006896    S001         2  100000  2019-07-31 23:35:25
7142       7142    T0000006897    S002         1   85000  2019-07-31 23:39:35
7143       7143    T0000006898    S002         1   85000  2019-07-31 23:41:38

     customer_id item_name  item_price
0       PL563502      PC-E      210000
1       HD678019      PC-A       50000
2       HD298120      PC-C      120000
3       IK452215      PC-E      210000
4       PL542865      PC-B       85000
...          ...       ...         ...
7139    HI400734      PC-D      180000
7140    AS339451      PC-B       85000
7141    OA027325      PC-A       50000
7142    TS624738      PC-B       85000
7143    AS834214      PC-B       85000

[7144 rows x 9 columns]