In [3]:
import pandas as pd
csv = pd.read_csv('../csvs/transaction_1.csv')

he = csv.head()
print(he)

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [5]:
import pandas as pd

transaction_1 = pd.read_csv('../csvs/transaction_1.csv')
transaction_2 = pd.read_csv('../csvs/transaction_2.csv')


transaction = pd.concat([transaction_1, transaction_2], ignore_index=True)


transaction.to_csv('../csvs/transaction.csv', index=False)

In [7]:
import pandas as pd

detail_1 = pd.read_csv('../csvs/transaction_detail_1.csv')
detail_2 = pd.read_csv('../csvs/transaction_detail_2.csv')


detail = pd.concat([detail_1, detail_2], ignore_index=True)


detail.to_csv('../csvs/detail.csv', index=False)

In [9]:
import pandas as pd

detail = pd.read_csv('../csvs/detail.csv')
tran = pd.read_csv('../csvs/transaction.csv')

join_data = pd.merge(detail, transaction, on='transaction_id', how='left')


print(join_data.head())

   Unnamed: 0  detail_id transaction_id item_id  quantity   price  \
0           0          0    T0000000113    S005         1  210000
1           1          1    T0000000114    S001         1   50000
2           2          2    T0000000115    S003         1  120000
3           3          3    T0000000116    S005         1  210000
4           4          4    T0000000117    S002         2  170000

          payment_date customer_id
0  2019-02-01 01:36:57    PL563502
1  2019-02-01 01:37:23    HD678019
2  2019-02-01 02:34:19    HD298120
3  2019-02-01 02:47:23    IK452215
4  2019-02-01 04:33:46    PL542865